.two
{
    color: chartreuse;
    align-items: center;

}

.para
{
    color: darkred;
    position: absolute;
    bottom: 0; right: 5%;

}

.mainbody{
      background-image: url(images/1.jpeg);  
      background-repeat: no-repeat;  
      background-size: cover;
}

.btn{
     background-color: lavender;
     border: none;
     color: black;
     padding: 5px 14px;
     font-size: 12px;
     cursor: pointer;
     
}

.btn1{
    background-color: lavender;
    border: lavender;
    color: black;
    padding: 5px 14px;
    font-size: 12px;
    cursor: pointer;
    top: 50%;
}

.bodyvid{
        background-color: rgb(15, 78, 133);
}

.add{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif; 
    position: absolute;
    top: 150px;
    left:12px;
    font-size: 15px;
}

.add1{
    color: darkblue;
       font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 120px;
    right:1100px;
    font-size: 18px;
}

.add2{
    color: darkblue;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 245px;
    left:40px;
    font-size: 18px;
}

.add3{
    color: darkblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 264px;
    left:40px;
    font-size: 18px;

}

.bodycm{
    
        background-color: burlywood;
        background-repeat: no-repeat;  
        background-size: cover;
  
}

.vidp{
      color:darksalmon;
      right: -20px;
      font-size: 200%;
      position: relative;  

}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.menu-bar {
        background: rgb(4, 116, 196);
        text-align: center;
      
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: gold;
    
}
.menu-bar ul li
{
            width: 120px;
            margin:10px;
            padding: 10px;

}    

.menu-bar ul li a
{
    color: white;
    text-decoration: none   ;
    font-size: large;
    font-style: inherit;
}
.active, .menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius:3px ;

}
.header {
        color: white;
        position: absolute;
        right: 80px;
        top: 20px;
        font-size: large;
        
}

.desi
{
    color: white;
    position: absolute;
    right: 20px;
    top: 45px;

}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
      background: rgb(0, green, 0);
}

.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
    position: absolute;
    right: -130px;
    background-color:  rgb(4, 116, 196);

}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 100px;
    padding: 5px;
    left: 100px;
    
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover
{
    background-color: coral;

}

.add {
    border-width:3px;
    border-style: outset;
    border-color:#287EC7;
   }

.img1{
      width: 100%;
      height: auto;

}